<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Address bean -->
    <bean id="address" class="com.employee.beans.Address">
        <property name="street" value="123 Main St"/>
        <property name="city" value="Anytown"/>
        <property name="state" value="CA"/>
        <property name="zipcode" value="12345"/>
    </bean>

    <!-- Define the Employee bean with autowiring by type -->
    <bean id="employee" class="com.employee.beans.Employee" autowire="byType">
        <property name="id" value="1"/>
        <property name="designation" value="Software Engineer"/>
        <property name="salary" value="75000"/>
    </bean>

</beans>
