<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

   
    <bean id="brand1" class="com.productmanagement.beans.Brand">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Brand One"/>
    </bean>
   
    <bean id="brandExcluded" class="com.productmanagement.beans.Brand" autowire-candidate="false">
        <constructor-arg value="3"/>
        <constructor-arg value="Excluded Brand"/>
    </bean>

  
    <bean id="product1" class="com.productmanagement.beans.Product" autowire="constructor">
        <constructor-arg index="0" value="101"/>
        <constructor-arg index="1" value="Product One"/>
    </bean>
    
    <bean id="product2" class="com.productmanagement.beans.Product" autowire="constructor">
        <constructor-arg index="0" value="102"/>
        <constructor-arg index="1" value="Product Two"/>
    </bean>

</beans>
